* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #d35649;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 20px;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.navbar .logo {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo .logo-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

body .logo-text {
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
  font-size: 30px;
}

.navbar .menu {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.menu .menu-item {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

main .search-container {
  position: relative;
  background: url("images/hero.jpg") 0 0/cover no-repeat;
  height: 75vh;
  color: #fff;
}

.search-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.search-container .content {
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.search-container .heading {
  font-size: 25px;
}

.content form {
  width: 46%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.644);
}

form .search-label {
  color: #000;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 20px;
  line-height: 25px;
}

form #search {
  padding: 11px;
  width: 79%;
  border: 0;
  font-size: 18px;
}

form .search-btn {
  width: 20%;
  padding: 11px;
  background-color: #d35649;
  color: #fff;
  border: 0;
  line-height: 21px;
}

.content .how {
  color: #000;
  background-color: rgb(196, 196, 196);
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  text-transform: none;
}

main .working {
  padding: 100px;
  margin-top: 20px;
  text-align: center;
}

.working .working-title {
  font-size: 20px;
  text-transform: uppercase;
}

.working-title .logo-text {
  color: #d35649;
}

.working .working-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.working-container .step {
  width: 50%;
  padding: 3rem 5rem;
}

.step .step-img {
  width: 40px;
  height: 40px;
}

.step .step-title {
  text-transform: uppercase;
  font-size: 17px;
  padding: 20px 0;
}

.step .step-text {
  font-size: 15px;
  font-weight: 100;
}

/* Styles for tablet devices */

@media screen and (max-width: 1024px) {
  header .navbar {
    display: block;
    width: 50%;
  }

  .navbar .logo {
    justify-content: center;
  }

  .navbar .menu {
    width: 80%;
    margin: 20px auto 10px;
  }

  .menu-item .menu-text {
    display: none;
  }

  .content form {
    padding: 15px;
    width: 55%;
  }

  form #search {
    width: 100%;
  }

  form .search-btn {
    width: 100%;
    margin-top: 10px;
  }

  main .working {
    padding: 50px;
  }

  .working-container .step {
    padding: 1rem 3rem;
  }
}

/* Styles for mobile devices */

@media screen and (max-width: 768px) {
  header .navbar {
    display: block;
    width: 70%;
  }

  .navbar .menu {
    margin: 20px auto 10px;
  }

  .search-container .heading {
    padding: 0 20px;
    text-align: center;
  }

  .content form {
    width: 92%;
  }

  .working-container .step {
    width: 100%;
    padding: 2rem;
  }

  .step .step-img {
    width: 55px;
    height: 55px;
  }

  .step .step-title {
    font-size: 18px;
  }
}
